$text-color-light:#14213d;
$text-primary-color-dark:#dee2e6;
$text-secondary-color-dark:#adb5bd;
$text-primary-color-light:#343a40;
$text-secondary-color-light:#495057;
$bg-color-dark:#212529;
$bg-color-light:#e9ecef;
$button-bg-color:transparent;
$button-bg-hover-color:#ff6600;
$button-color-dark:#dee2e6;
$button--color-light:rgb(112, 107, 107);
$card-bg-light:#f8f9fa;
$card-bg-dark:#343a40;
$slider-bg-light:#495057;
$slider-bg-dark:#E6E8EB;


$border-radius: 0.25rem;
$transition: all 0.3s linear;


@mixin button-features{
    transition:$transition;
    border: none;
    cursor: pointer;
    border-radius: $border-radius;
    padding: 0.5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight:600;
    background-color: $button-bg-color;
    &:hover{
        background-color:$button-bg-hover-color;
    }
}