$text-color-light:#14213d;
$text-primary-color-dark:#dee2e6;
$text-secondary-color-dark:#adb5bd;
$bg-color-dark:#212529;
$bg-color-light:#e9ecef;
$button-bg-color:transparent;
$button-bg-hover-color:#ff6600;
$button-color-dark:#dee2e6;
$button--color-light:rgb(112, 107, 107);
$more-button-color-dark:rgb(112, 107, 107);
$card-bg-dark:#343a40;







$border-radius: 0.25rem;
$transition: all 0.3s linear;


