// @use "./variable.scss" as v;
@import "./_variable.scss";

.main-container{
    background-color:$bg-color-dark;
    scroll-behavior: smooth;
    .btn-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
        button{
            background-color: $button-bg-color;
            color:$button-color-dark;
            transition:$transition;
            border: none;
            cursor: pointer;
            border-radius: $border-radius;
            padding: 0.5rem;
            font-size: 1.1rem;
            text-transform: uppercase;
            &:hover{
                background-color:$button-bg-hover-color;
            }
        }
    }
    .more{
        text-align: center;
        padding-bottom: 1rem;
        button{
            background-color: $button-bg-color;
            color:$button-color-dark;
            transition:$transition;
            border: none;
            cursor: pointer;
            border-radius: $border-radius;
            padding: 0.5rem;
            font-size: 1.1rem;
            text-transform: uppercase;
            &:hover{
                background-color:$button-bg-hover-color;
            }
        }
    }
}
.switch{
    position: absolute;
    right: 2rem;
    top:1.5rem;

}
.theme-switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 48px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #E6E8EB;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .sun{
      bottom: 4px;
      content:"";
      height: 20px;
      left: 4px;
      position: absolute;
      transition: .4s;
      border-radius: 50%;
      width: 20px;
      transition: .4s;
  }
  .moon{
      bottom: 4px;
      content:"";
      height: 20px;
      left: 4px;
      position: absolute;
      transition: .4s;
      border-radius: 50%;
      width: 20px;
      transition: .4s;
      transform: translateX(20px);
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  