// @use "./variable.scss" as v;
@import "./_variable.scss";
@import "./globals";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container{
    scroll-behavior: smooth;
    min-height: 100vh;
    .btn-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
        button{
         @include button-features
        }
    }
    .more{
        text-align: center;
        padding-bottom: 1rem;
        .more-btn{
         @include button-features
        }
    }
}

//dark mode switch
.switch{
    position: absolute;
    right: 2rem;
    top:1.5rem;

}
.theme-switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 48px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .sun{
      bottom: 4px;
      content:"";
      height: 20px;
      left: 4px;
      position: absolute;
      transition: .4s;
      border-radius: 50%;
      width: 20px;
      transition: .4s;
  }
  .moon{
      bottom: 4px;
      content:"";
      height: 20px;
      left: 4px;
      position: absolute;
      transition: .4s;
      border-radius: 50%;
      width: 20px;
      transition: .4s;
      transform: translateX(20px);
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.loading{
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  padding-top: 5rem;
}













